.env
.venv/
__pycache__/
.qodo/
data/nepthanh.db
data/chroma_store/
*.pyc
*.pyo
.DS_Store
*.db
*.sqlite
*.db-wal
*.db-shm
*.db-journal
*.db-info
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal

.vercel
.env*.local
output/
